In [9]:
import pandas as pd

In [10]:
df = pd.read_csv("test.csv")

In [11]:
df

,Unnamed: 0,ماه,تقاضا(تولید),روزهای کاری هرماه,تعداد تولید روزانه ماه,نفرات مورد نیاز,نفرات مورد نیاز رند شده,استخدام نفرات,بازخرید نفرات,هزینه استخدام,هزینه باز خرید,نفرات مورد نیاز * تعداد روزهای کاری,هزینه حقوق و دستمزد,هزینه انبارداری,هزینه کل
0,0,1,18000.0,22,818.181818,68.18181818181817,69.0,NaN,31.0,NaN,62000.0,1518.0,455400.0,متوسط موجودی سالانه * هزینه انبارداری هر کالا ...,هزینه استخدام + هزینه بازخرید + هزینه حقوق و د...
1,1,2,12000.0,19,631.578947,52.63157894736842,53.0,NaN,16.0,NaN,32000.0,1007.0,302100.0,NaN,NaN
2,2,3,18000.0,21,857.142857,71.42857142857143,72.0,19,NaN,57000,NaN,1512.0,453600.0,NaN,NaN
3,3,4,20000.0,22,909.090909,75.75757575757576,76.0,4,NaN,12000,NaN,1672.0,501600.0,NaN,NaN
4,4,5,28000.0,21,1333.333333,111.1111111111111,112.0,36,NaN,108000,NaN,2352.0,705600.0,NaN,NaN
5,5,6,25000.0,21,1190.476190,99.2063492063492,100.0,NaN,12.0,NaN,24000.0,2100.0,630000.0,NaN,NaN
6,6,7,26000.0,22,1181.818182,98.48484848484848,99.0,NaN,1.0,NaN,2000.0,2178.0,653400.0,NaN,NaN
7,7,8,16000.0,11,1454.545455,121.2121212121212,122.0,23,NaN,69000,NaN,1342.0,402600.0,NaN,NaN
8,8,9,18000.0,21,857.142857,71.42857142857143,72.0,NaN,50.0,NaN,100000.0,1512.0,453600.0,NaN,NaN
9,9,10,14000.0,22,636.363636,53.03030303030303,53.0,NaN,19.0,NaN,38000.0,1166.0,349800.0,NaN,NaN
10,10,11,9000.0,18,500.000000,41.666666666666664,42.0,NaN,11.0,NaN,22000.0,756.0,226800.0,NaN,NaN
11,11,12,7000.0,21,333.333333,27.777777777777775,28.0,NaN,14.0,NaN,28000.0,588.0,176400.0,NaN,NaN
12,12,جمع کل,NaN,NaN,NaN,NaN,NaN,82,154.0,246000,308000.0,17703.0,5310900.0,1200000,7064900
13,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,14,تعداد کارکنان موجود,100.0,تولید روزانه هر نفر,12.000000,هزینه استخدام هر نفر,3000.0,هزینه دستمزد روزانه,300.0,متوسط موجودی سالیانه,5000.0,NaN,NaN,NaN,NaN
15,15,NaN,NaN,هزینه انبار داری کالا ماه,20.000000,هزینه بازخرید هر نفر,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df.to_csv("test.txt" , sep = "/")